{% extends 'base.html' %}
{% block head %}
<script>
function goBack() {
    window.history.back()
}
</script>
{% endblock %}
{% block content %}
<form method="post" class="form-horizontal">{% csrf_token %}
			<fieldset>
			<div class="alert alert-info">
    		{{err_msg}}
			</div>
               		<input type="hidden" name="member_id" value = "{{member_id}}">
					<div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
						<input type="password" name = "password_old" class="form-control" placeholder = "Old Password">
					</div>
					<div class="clearfix"></div><br>
					<div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
						<input type="password" name = "password_new" class="form-control" placeholder = "New Password">
					</div>
					<div class="clearfix"></div><br>
					<div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
						<input type="password" name = "password_confirm" class="form-control" placeholder = "Confirm Password">
					</div>
					<div class="clearfix"></div><br>
					<button class="btn btn-primary btn-lg">Save</button>
				</fieldset>
</form>
<button class="btn btn-primary btn-lg" onclick="goBack()" style="
    margin-left: 90px;
    margin-top: -72px;
    ">Cancel</button>
{% endblock %}